{% load custom_filters custom_tags crispy_forms_tags %} <!-- Load the necessary tags -->

<!DOCTYPE html>
<html>

<head>
    <title>Data Import</title>
    <!-- Include crispy-forms CSS -->
    <link rel="stylesheet" href="{% static 'crispy_forms/css/crispy.css' %}">
</head>

<body>
    <h2>Data Import</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Upload and Import</button>
    </form>

    <!-- Use the custom template tag -->
    <p>Current time: {% current_time "%Y-%m-%d %H:%M:%S" %}</p>

    <!-- Include crispy-forms JavaScript -->
    <script src="{% static 'crispy_forms/js/crispy.js' %}"></script>
</body>

</html>